:root {
  --color1: #191919;
  --color2: #ccd0cf;
  --color3: #111111;
  --color4: #4a5c6a;
  --color5: #253745;
  --color6: #11212d;
  --color7: #231e2d;
  --color8: #7c57cf;
  --color9: #f3f3f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;

  font-style: none;
  text-decoration: none;

  font-family: Koblenz;

  transition: 0.3s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main,
header,
footer {
  background-color: var(--color1);
}

@font-face {
  font-family: Lemon;
  src: url(../../Fonts/LEMONMILK-Medium.otf);
}

@font-face {
  font-family: Koblenz;
  src: url(../../Fonts//Koblenz-Serial-Bold.ttf);
}
