.Header {
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  .Header_Wrap {
    width: 60%;

    display: flex;
    justify-content: space-between;
    .Logo {
      h1 {
        font-family: Lemon;
        font-weight: 500;
        font-size: 35px;
        span {
          font-family: Koblenz;
          height: 500;
        }
      }
    }
    .Links {
    }
  }
}
