.Home {
  .Home_Main {
    width: 100%;
    height: 160vh;
    display: flex;
    justify-content: center;

    .Home_Wrap {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      .Home_Title {
        color: #fff;
      }
    }
  }
}
